.error-container{
  display: block;
  padding-top: 20px;
  text-align: center;
}

.fa.fa-frown-o{
  animation: Error-logo-spin infinite 2s linear;
  font-size: 150px;
  color: #868585;
}

.errorText {
  font-size: 30px;
  color: #888585;
}

.button-section.error{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.main-button{
  margin: 30px;
  padding: 10px;
  border: transparent;
  background-color: #009688;
  width: 150px;
  color: #fff;
  font-size: 15px;
}


@keyframes Error-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
