.Home {
  text-align: center;
  background-color: #eaeaea;
}

.Home-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.Home-title {
  font-size: 1.5em;
}

.Home-intro {
  text-decoration: none;
  line-height: 100px;
  font-size: 20px;
  color: #fff;
}

.section{
  display: flex;
  justify-content: center;
  margin: 5px;
  height: 100px;
  background-color: #6f8dc5;
}
