#myProgress {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #cacaca;
  border: solid 2px #cecece;
  border-radius: 20px;
}
#myBar {
  width: 1%;
  height: 30px;
  background-color: #10d410;
  border-radius: 20px;
  transition: width 1s;
}