.test-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-color: transparent;
}
.mainWord-word {
  padding: 0 20px 20px 20px;
}
.title{
  padding: 10px 10px 20px 10px;
}
.translation-input{
  text-align: center;
  font-size: 14px;
}
.center-section{
  padding: 20px 0;
  background-color: #eaeaea;
}
.check-button{
  margin: 30px;
  padding: 10px;
}
.result {
  display: block;
  width: 100%;
  text-align: left;
}
.result .green{
  background-color: green;
  padding: 5px 0;
}
.result .red{
  background-color: red;
  padding: 5px 0;
}
.word{
  font-weight: bold;
  text-transform: capitalize;
}
.sentence-example{
  padding-top: 10px;
}
.sentence{
  width: 70%;
}